.contentInfo {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 50vh 7% 0 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  gap: var(--size-l);
  place-items: center;
  background: var(--clr-dark);
  background: linear-gradient(180deg, var(--clr-dark) 0%, var(--clr-dark) 20%, var(--clr-light) 20%, var(--clr-light) 100%);
}

.contentInfo div {
  height: 300px;
  width: 500px;
  padding: 0 var(--size-4xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
  background-color: var(--clr-tertiary);
}

.contentInfo div p {
  text-align: center;
}