/* 
font-family: 'Dela Gothic One', cursive;
font-family: 'Young Serif', serif; 
*/

.facebook-posts {
  height: auto;
  width: 100%;
  padding: 1rem 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  /* gap: 0rem; */
  background-color: var(--clr-light);
}

.healthbits__info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.healthbits__texts-wrapper {
  height: auto  ;
}

.healthbits__info h1 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  font-size: var(--size-2xl);
}

.healthbits__texts {
  max-width: 100%;
  margin: var(--size-4xl) 0;
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-size: var(--size-base);
  line-height: var(--size-4xl);
  text-align: justify;
}

.healthbits__btn {
  width: 100%;
  margin-top: 2rem;
  font-family: 'Young Serif', serif;
  font-size: var(--size-4xl);
}

.healthbits__updates {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.healthbits__embeds {
  max-width: 300px;
  transition: transform 0.2s ease;
}

/* xs */
@media (min-width: 475px) {
  .healthbits__updates {
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    border-radius: 12px;
  } 
}
/* s */
@media (min-width: 640px) {
  .facebook-posts {
    gap: 1rem;
  }
  .healthbits__info h1 {
    font-size: var(--size-3xl);
  }
}
/* m */
@media (min-width: 768px) {
  .facebook-posts {
    padding: 3rem 8%;
    gap: 2rem;
  }
  .healthbits__btn {
    margin-top: auto;
  }
  .healthbits__updates {
    padding: 1rem 0;
    gap: 1em;
    background-color: rgba(141, 225, 248, 0.64);
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .healthbits__embeds {
    transition: all 0.2s ease;
    box-shadow:
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
      100px 100px 80px rgba(0, 0, 0, 0.05)
      ;
    }
  .healthbits__embeds:hover{
    transform: translateY(-1rem);
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
    100px 100px 80px rgba(0, 0, 0, 0.1)
    ;
  }
}
/* l */
@media (min-width: 1024px) {
  .healthbits__updates {
    padding: 2rem 0;
  }
  .healthbits__texts {
    font-size: var(--size-l);
  }
}
/* xl */
@media (min-width: 1280px) {
  .facebook-posts {
    padding: 8rem 8%;
  }
  .healthbits__updates {
    padding: 3rem 0;
  }
  .healthbits__info h1 {
    font-size: var(--size-4xl);
  }
  .healthbits__texts {
    font-size: var(--size-xl);
  }
}
/* xxl */
/* @media (min-width: 1536px) {} */