header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  gap: var(--size-4xl);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

header .header__img{
  width: var(--size-6xl);
  border-radius: 50%;
  cursor: pointer;
}

header ul{
  display: none;
  gap: var(--size-4xl);
}

.nav__logo {
  margin: 0 auto;
  text-decoration: none;
}

.nav__logo h1 {
  font-family: 'Bevan', serif;
  font-size: var(--size-3xl);
  color: red;
}

.nav__url{
  font-size: var(--size-base);
  color: var(--clr-light);
  text-decoration: none;
}

.nav__url:hover {
  color: blue;
}

.nav__btn {
  font-size: var(--size-base);
  /* font-size: var(--size-l); */
}

.nav__btn-mobile {
  width: var(--size-2xl);
  height: var(--size-2xl);
  fill: var(--clr-light);
  stroke: var(--clr-light);
  cursor: pointer;
}

/* xs */
/* @media (min-width: 475px) {} */
/* s */
/* @media (min-width: 640px) {} */
/* m */
@media (min-width: 768px) {
  .nav__logo {
    margin: 0 0;
  }
  header ul {
    display: flex;
    margin-left: auto;
  }
}
/* l */
@media (min-width: 1024px) {
  header {
    display: flex;
  }
}
/* xl */
@media (min-width: 1280px) {
  .nav__logo h1 {
    font-size: var(--size-2xl);
  }
  .nav__url{
    font-size: var(--size-l);
  }
  .nav__btn {
    font-size: var(--size-l);
  }
}
/* xxl */
@media (min-width: 1536px) {
  header {
    gap: var(--size-3xl);
  }
  .nav__url{
  }
  .nav__btn {
  }
}