header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  padding: 0 8%;
  display: flex;
  gap: var(--size-4xl);
  align-items: center;
  z-index: 2;
}

header .header__img{
  width: var(--size-6xl);
  border-radius: 50%;
  cursor: pointer;
}

header ul{
  display: flex;
  gap: var(--size-4xl);
  margin-left: auto;
}

.nav__logo {
  text-decoration: none;
}

.nav__logo h1 {
  font-family: 'Bevan', serif;
  font-size: var(--size-3xl);
  color: red;
}

.nav__url{
  font-size: var(--size-l);
  text-decoration: none;
  color: var(--clr-light);
}

.nav__url:hover {
  color: blue;
}

.nav__btn {
  font-size: var(--size-l);
}

/* xs */
/* @media (min-width: 475px) {} */
/* s */
/* @media (min-width: 640px) {} */
/* m */
@media (max-width: 768px) {
  .web {
    display: none !important;
  }
}
/* l */
@media (max-width: 1024px) {
  header {
    top: 0.5rem;
    display: flex;
    gap: var(--size-3xl);
  }
  header ul{
    gap: var(--size-3xl);
  }
}
/* xl */
@media (max-width: 1280px) {
  .nav__logo h1 {
    font-size: var(--size-2xl);
  }
}
/* xxl */
@media (max-width: 1536px) {
  .nav__url{
    font-size: var(--size-base);
  }
  .nav__btn {
    font-size: var(--size-base);
  }
}