@import "../../public/fonts/Satoshi/css/satoshi.css";

.coverImg {
  /* z-index: -1;
  margin: 0 auto;
  height: 90vh;
  object-fit: cover; */
}

.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  /* overflow: hidden; */
}

/* 1st Container */
.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.hero__subtitle {
  font-family: 'Satoshi-Bold', sans-serif;
  font-size: var(--size-4xl);
  color: var(--clr-dark);
  transform: translateY(0.5em);
}

.hero__title {
  font-family: 'Satoshi-Black', sans-serif;
  font-size: var(--size-7xl);
  color: var(--clr-rose);
}

.hero__statement {
  font-size: var(--size-l);
  color: var(--clr-dark);
  text-align: center;
}

/* 2nd Container */
/* .hero__components {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 100%;
}

.hero__img {
  width: 350px;
  border-radius: 40px;
  transition: width 0.3s;
}
.hero__img:hover { width: 400px; } */

xs
@media (min-width: 475px) {
  .hero__subtitle {
    font-size: var(--size-4xl);
  }
  .hero__title {
    font-size: var(--size-7xl);
  }
  .hero__statement {
    max-width: 40ch;
    font-size: var(--size-l);
  }
}
/* s */
/* @media (min-width: 640px) {} */
/* m */
/* @media (min-width: 768px) {} */
/* l */
@media (min-width: 1024px) {
  .coverImg {
    transform: scale(1.2);
  }
  .hero__title {
    font-size: var(--size-8xl);
  }
}
/* xl */
@media (min-width: 1280px) {
  .hero__subtitle {
    font-size: var(--size-5xl);
  }
  .hero__title {
    font-size: var(--size-9xl);
  }
  .hero__statement {
    max-width: 60ch;
    font-size: var(--size-l);
  }
  .coverImg {
    transform: scale(1.4);
  }
}
/* xxl */
@media (min-width: 1536px) {
  .coverImg {
    transform: scale(1.5);
  }
}