.updates {
  height: auto;
  width: 100%;
  padding: 4rem 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  gap: 10px;
  background-color: var(--clr-secondary);
}

.embeds {
  height: auto;
  margin: auto 0;
  background-color: aqua;
}